/* /////////////////// slider - full screen effect /////////////////// */
html {
  scroll-behavior: smooth;
}
.slider {
  height: 100vh;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.slider {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.slider .slid-page {
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  overflow-y: hidden;
}
.slider .slid-page.full-height {
  height: 100vh;
}
.slider .slid-page.half-height {
  height: 50vh;
}
.slider .slid-page.special-height {
  min-height: var(--height) !important;
}
.slider .slid-page .left-section,
.slider .slid-page .right-section {
  height: 100%;
}
/* mobil devices  */
@media(max-width: 575px) {
  .slid-page {
    flex-direction: column;
  }
  .left-section,
  .right-section {
    width: 100%;
    height: 50%;
  }
}
/* tablet devices */
@media(min-width: 576px) {
  .slid-page {
    flex-direction: column;
  }
  .left-section,
  .right-section {
    width: 540px;
    height: 50%;
  }
}
/* small screens */
@media(min-width: 768px) {
  .slid-page {
    flex-direction: row;
  }
  .left-section,
  .right-section {
    width: 375px;
  }
}
/* medium screens */
@media(min-width: 992px) {
  .slid-page {
    flex-direction: row;
  }
  .left-section,
  .right-section {
    width: 485px;
  }
}
/* large screens */
@media(min-width: 1200px) {
  .slid-page {
    flex-direction: row;
  }
  .left-section,
  .right-section {
    width: 585px;
  }
}
.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  padding: 8px 25px 8px 20px;
  border-radius: 50px;
  background-color: var(--clr-one);
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}
.button a {
  /* clr-one => background */
  /* clr-two => text */
  /* clr-three => hover */
  color: var(--clr-two);
  text-decoration: none;
  font-family: var(--fnt-mono);
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}
.button a::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--clr-two) var(--clr-two) transparent transparent;
  border-radius: 3px;
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(-50%,-50%) rotateZ(45deg);
  transition: 0.3s;
}
.button:hover {
  padding-right: 30px;
}
.button:hover a {
  color: var(--clr-three);
}
.button:hover a::after {
  left: calc(100% + 10px);
  border-color: var(--clr-three) var(--clr-three) transparent transparent;
}