/* /////////////////// google fonts links /////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* ///////////////// variables and global rules /////////////////// */
:root {
  /* font families  */
  --fnt-sans: 'Poppins', sans-serif; /* main font family*/
  --fnt-curs: 'Dancing Script', cursive;
  --fnt-mono: 'IBM Plex Mono', monospace;
  --fnt-serif: 'Roboto Serif', serif;
  /* the color theme */
  --clr-blue: #5567dd;
  --clr-dark-blue: #02001a;
  --clr-white-blue: #e8f8fd;
  --clr-yellow: #ffc800;
  --clr-semi-yellow: #ffc800bf;
  --clr-dark-yellow: #ffc505;
  --clr-gray: #696969;
  --clr-green: #34c4ac;
  --clr-dark-green: #025245;
  --clr-white-green: #f0fffc;
  --clr-orange: #fe621d;
  --clr-bright-orange: #fc301d;
  --clr-light-orange: #fd8b25;
  --clr-dark-orange: #2e0a27;
  --clr-dark-red: #d70916;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fnt-sans);
}
p, i, u {
  cursor: default;
}
ul {
  list-style: none;
}
ul li {
  display: block;
}
ul li a {
  text-decoration: none;
  color: inherit;
}
::selection {
  color: inherit;
  background-color: inherit;
}
/* /////////////////// section one : landing /////////////////// */
.landing {
  background-color: var(--clr-blue);
  position: relative;
  
}
.landing .menu {
  position: absolute;
  top: 3vh;
  right: 5vw;
  text-align: center;
  z-index: 12345;
}
.landing .menu ul {
  clip-path: polygon(0 0,0 0 , 100% 0 , 100% 0);
  margin-top: 4px;
  padding: 15px 5px 20px;
  background-color: var(--clr-white-blue);
  border: 2px solid var(--clr-dark-blue);
  border-radius: 0px 0px 15px 15px;
  transition-delay: 0.3s;
  transition-duration: 0.2s;
}
.landing .menu ul li {
  padding: 5px;
  text-transform: capitalize;
}
.landing .menu ul li:hover {
  color: var(--clr-blue);
  font-weight: 600;
  text-decoration: underline;
}
.landing .menu span {
  position: relative;
  color: var(--clr-dark-blue);
  background-color: var(--clr-yellow);
  border-radius: 25px;
  padding: 8px 60px 8px 40px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  transition-delay: 0.6s;
  transition-duration: 0.3s;
  cursor: pointer;
}
.landing .menu span::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent var(--clr-dark-blue) var(--clr-dark-blue) transparent;
  border-radius: 3px;
  top: 11px;
  right: 35px;
  transform: rotateZ(45deg);
  transition-delay: 0.6s;
  transition-duration: 0.3s;
}
.landing .menu span.clicked {
  background-color: var(--clr-dark-blue);
  color: var(--clr-blue);
  border-radius: 25px 25px 0px 0px;
  transition-delay: 0s;
  transition-duration: 0.3s;
}
.landing .menu span.clicked::after {
  border-color: transparent var(--clr-blue) var(--clr-blue) transparent;
  top: 16px;
  transform: rotateZ(225deg);
  transition-delay: 0s;
  transition-duration: 0.3s;
}
.landing .menu span.clicked + ul {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}
.landing .right-section {
  flex-direction: column;
  text-align: left;
  font-family: var(--fnt-sans);
}
.landing .right-section h1,
.landing .right-section h2 {
  font-family: var(--fnt-mono);
  font-size: 3em;
  color: var(--clr-dark-yellow);
  width: 100%;
  padding-left: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 3px 3px var(--clr-white-blue), 5px 5px var(--clr-gray), 6px 6px var(--clr-dark-blue);
}
.landing .right-section h2 {
  padding-left: 45px;
}
.landing .right-section p {
  font-size: 1.2em;
  color: var(--clr-dark-blue);
  width: 100%;
  padding-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  opacity: 0.7;
}
.landing .right-section > span {
  --clr-one: var(--clr-dark-blue);
  --clr-two: var(--clr-blue);
  --clr-three: var(--clr-white-blue);
  margin-top: 15px;
  margin-right: auto;
  margin-left: 45px;
}
.landing .left-section {
  padding-left: 25px;
}
.landing .left-section img {
  width: 75%;
  margin-top: 25px;
  margin-left: 45px;
  animation: up-down 2.5s linear infinite;
}
/* /////////////////// section two : who we are? /////////////////// */
.about {
  background-color: var(--clr-green);
}
.about .right-section {
  padding-left: 20px;
}
.about .right-section img {
  width: 75%;
  margin-top: 15px;
  animation: up-down 3s linear infinite;
}
.about .left-section {
  flex-direction: column;
  text-align: left;
  font-family: var(--fnt-sans);
}
.about .left-section h2 {
  font-size: 2em;
  color: var(--clr-dark-blue);
  width: 100%;
  padding-left: 30px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.about .left-section p {
  font-size: 1.2em;
  color: var(--clr-dark-green);
  width: 100%;
  padding-left: 25px;
  font-weight: 500;
}
.about .left-section > span {
  --clr-one: var(--clr-dark-blue);
  --clr-two: var(--clr-green);
  --clr-three: var(--clr-white-green);
  margin-top: 15px;
  margin-right: auto;
  margin-left: 35px;
}
@media(max-width: 575px) {
  .about .left-section {
    margin-top: -20vh;
  }
}
/* /////////////////// section there : services /////////////////// */
.services {
  background-color: var(--clr-dark-orange);
  position: relative;
  overflow-x: hidden;
}
.services .header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.services .header h2 {
  position: relative;
  color: var(--clr-orange);
  padding: 5px 25px;
  font-size: 1.5em;
  text-transform: capitalize;
  border: 2px solid var(--clr-orange);
}
.services .cards-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 20px;
}
.services .cards-box .card {
  position: relative;
  width: 250px;
  height: 420px;
  margin: 25px;
  padding-top: 15px;
  border-radius: 15px;
  transition: 0.3s;
}
.services .cards-box .card:hover {
  transform: translateY(-12px) scale(1.02);
}
.services .cards-box .card.one {
  background-color: var(--clr-green);
  box-shadow: 0px -5px 15px var(--clr-dark-green);
}
.services .cards-box .card.two {
  background-color: var(--clr-light-orange);
  box-shadow: 0px -5px 15px var(--clr-orange);
}
.services .cards-box .card.three {
  background-color: var(--clr-blue);
  box-shadow: 0px -5px 15px var(--clr-blue);
}
.services .cards-box .card .img-box {
  height: 50%;
  padding: 20px;
}
.services .cards-box .card .img-box img {
  width: 100%;
}
.services .cards-box .card .contant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.services .cards-box .card .contant h3 {
  text-transform: uppercase;
  font-family: var(--fnt-mono);
  font-size: 1.8em;
  pointer-events: none;
}
.services .cards-box .card .contant p {
  padding: 10px 15px;
  pointer-events: none;
}
.services .cards-box .card .contant span {
  position: absolute;
  bottom: 25px;
}
.services .cards-box .card.one h3 {
  color: var(--clr-dark-blue);
}
.services .cards-box .card.one .contant span {
  --clr-one: var(--clr-dark-green);
  --clr-two: var(--clr-dark-blue);
  --clr-three: var(--clr-green);
}
.services .cards-box .card.two h3 {
  color: var(--clr-dark-orange);
}
.services .cards-box .card.two .contant span {
  --clr-one: var(--clr-dark-orange);
  --clr-two: var(--clr-light-orange);
  --clr-three: var(--clr-orange);
}
.services .cards-box .card.three h3 {
  color: var(--clr-yellow);
}
.services .cards-box .card.three .contant span {
  --clr-one: var(--clr-yellow);
  --clr-two: var(--clr-dark-blue);
  --clr-three: var(--clr-blue);
}
/* /////////////////// section four : team /////////////////// */
.team {
  background-color: var(--clr-white-blue);
  position: relative;
}
.team .right-section {
  position: relative;
}
.team .right-section img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 75%;
  
  margin-top: 15px;
}
/* /////////////////// Animation /////////////////// */
@keyframes up-down {
  0%, 100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(3px);
  }
}