/* /////////////////// google fonts links /////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* ///////////////// variables and global rules /////////////////// */
:root {
  /* font families  */
  --fnt-sans: 'Poppins', sans-serif; /* main font family*/
  --fnt-curs: 'Dancing Script', cursive;
  --fnt-mono: 'IBM Plex Mono', monospace;
  --fnt-serif: 'Roboto Serif', serif;
  /* the color theme */
  --clr-blue: #5567dd;
  --clr-dark-blue: #02001a;
  --clr-white-blue: #e8f8fd;
  --clr-bright-blue: #2ee8b6;
  --clr-yellow: #ffc800;
  --clr-semi-yellow: #ffc800bf;
  --clr-dark-yellow: #ffc505;
  --clr-gray: #696969;
  --clr-green: #34c4ac;
  --clr-dark-green: #025245;
  --clr-white-green: #f0fffc;
  --clr-orange: #fe621d;
  --clr-bright-orange: #fc301d;
  --clr-light-orange: #fd8b25;
  --clr-dark-orange: #2e0a27;
  --clr-dark-red: #d70916;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fnt-sans);
}
h1, h2, h3, p, i, u {
  cursor: default;
}
ul {
  list-style: none;
}
ul li {
  display: block;
}
ul li a {
  text-decoration: none;
  color: inherit;
}
::selection {
  color: inherit;
  background-color: inherit;
}
/* /////////////////// section one : landing /////////////////// */
.landing {
  background-color: var(--clr-blue);
  position: relative;
  
}
.landing .contact {
  position: absolute;
  top: 5vh;
  left: calc(100vw - 8vw - 335px);
  text-align: center;
  z-index: 12345;
}
.landing .contact span {
  --clr-one: var(--clr-white-blue);
  --clr-two: var(--clr-dark-blue);
  --clr-three: var(--clr-yellow);
  text-transform: capitalize;
  font-size: 18px;
  font-family: var(--fnt-sans);
  font-weight: 500;
}
.landing .contact span:hover {
  --clr-one: var(--clr-dark-blue);
}
.landing .menu {
  position: absolute;
  top: 5vh;
  right: 8vw;
  text-align: center;
  z-index: 12345;
}
.landing .menu ul {
  clip-path: polygon(0 0,0 0 , 100% 0 , 100% 0);
  margin-top: 4px;
  padding: 15px 5px 20px;
  background-color: var(--clr-white-blue);
  border: 2px solid var(--clr-dark-blue);
  border-radius: 0px 0px 15px 15px;
  transition-delay: 0.3s;
  transition-duration: 0.2s;
}
.landing .menu ul li {
  padding: 5px;
  text-transform: capitalize;
}
.landing .menu ul li:hover {
  color: var(--clr-blue);
  font-weight: 600;
  text-decoration: underline;
}
.landing .menu span {
  position: relative;
  color: var(--clr-dark-blue);
  background-color: var(--clr-yellow);
  border-radius: 25px;
  padding: 8px 60px 8px 40px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  transition-delay: 0.6s;
  transition-duration: 0.3s;
  cursor: pointer;
}
.landing .menu span::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent var(--clr-dark-blue) var(--clr-dark-blue) transparent;
  border-radius: 3px;
  top: 11px;
  right: 35px;
  transform: rotateZ(45deg);
  transition-delay: 0.6s;
  transition-duration: 0.3s;
}
.landing .menu span.clicked {
  background-color: var(--clr-dark-blue);
  color: var(--clr-blue);
  border-radius: 25px 25px 0px 0px;
  transition-delay: 0s;
  transition-duration: 0.3s;
}
.landing .menu span.clicked::after {
  border-color: transparent var(--clr-blue) var(--clr-blue) transparent;
  top: 16px;
  transform: rotateZ(225deg);
  transition-delay: 0s;
  transition-duration: 0.3s;
}
.landing .menu span.clicked + ul {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}
.landing .left-section {
  flex-direction: column;
  text-align: left;
  font-family: var(--fnt-sans);
}
.landing .left-section h1,
.landing .left-section h2 {
  font-family: var(--fnt-mono);
  font-size: 3em;
  color: var(--clr-dark-yellow);
  width: 100%;
  padding-left: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 3px 3px var(--clr-white-blue), 5px 5px var(--clr-gray), 6px 6px var(--clr-dark-blue);
}
.landing .left-section h2 {
  padding-left: 45px;
}
.landing .left-section p {
  font-size: 1.2em;
  color: var(--clr-dark-blue);
  width: 100%;
  padding-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  opacity: 0.7;
}
.landing .left-section > span {
  --clr-one: var(--clr-dark-blue);
  --clr-two: var(--clr-blue);
  --clr-three: var(--clr-white-blue);
  margin-top: 15px;
  margin-right: auto;
  margin-left: 45px;
}
@media(max-width: 767px) {
  .landing div.contact {
    display: none;
  }
}
@media(min-width: 768px) {
  .landing .menu ul li:last-child {
    display: none;
  }
}
.landing .right-section {
  padding-left: 25px;
}
.landing .right-section img {
  width: 75%;
  margin-top: 25px;
  margin-left: 45px;
  animation: up-down 2.5s linear infinite;
}
/* /////////////////// section two : who we are? /////////////////// */
.about {
  background-color: var(--clr-green);
}
.about .left-section {
  padding-left: 20px;
}
.about .left-section img {
  width: 75%;
  margin-top: 15px;
  animation: up-down 3s linear infinite;
}
.about .right-section {
  flex-direction: column;
  text-align: left;
  font-family: var(--fnt-sans);
}
.about .right-section h2 {
  font-size: 2em;
  color: var(--clr-dark-blue);
  width: 100%;
  padding-left: 30px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.about .right-section p {
  font-size: 1.2em;
  color: var(--clr-dark-green);
  width: 100%;
  padding-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}
.about .right-section > span {
  --clr-one: var(--clr-dark-blue);
  --clr-two: var(--clr-green);
  --clr-three: var(--clr-white-green);
  margin-top: 15px;
  margin-right: auto;
  margin-left: 35px;
}
@media(max-width: 575px) {
  .about .right-section {
    margin-top: -20vh;
  }
}
/* /////////////////// section there : services /////////////////// */
.services {
  background-color: var(--clr-dark-orange);
  position: relative;
  overflow-x: hidden;
}
.services .header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.services .header h2 {
  position: relative;
  color: var(--clr-orange);
  padding: 5px 25px;
  font-size: 1.5em;
  text-transform: capitalize;
  border: 2px solid var(--clr-orange);
}
.services .cards-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 20px;
}
.services .cards-box .card {
  position: relative;
  width: 250px;
  height: 420px;
  margin: 25px;
  padding-top: 15px;
  border-radius: 15px;
  transition: 0.3s;
}
.services .cards-box .card:hover {
  transform: translateY(-12px) scale(1.02);
}
.services .cards-box .card.one {
  background-color: var(--clr-green);
  box-shadow: 0px -5px 15px var(--clr-dark-green);
}
.services .cards-box .card.two {
  background-color: var(--clr-light-orange);
  box-shadow: 0px -5px 15px var(--clr-orange);
}
.services .cards-box .card.three {
  background-color: var(--clr-blue);
  box-shadow: 0px -5px 15px var(--clr-blue);
}
.services .cards-box .card .img-box {
  height: 50%;
  padding: 20px;
}
.services .cards-box .card .img-box img {
  width: 100%;
}
.services .cards-box .card .contant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.services .cards-box .card .contant h3 {
  text-transform: uppercase;
  font-family: var(--fnt-mono);
  font-size: 1.8em;
  pointer-events: none;
}
.services .cards-box .card .contant p {
  padding: 10px 15px;
  pointer-events: none;
}
.services .cards-box .card .contant span {
  position: absolute;
  bottom: 25px;
}
.services .cards-box .card.one h3 {
  color: var(--clr-dark-blue);
}
.services .cards-box .card.one .contant span {
  --clr-one: var(--clr-dark-green);
  --clr-two: var(--clr-dark-blue);
  --clr-three: var(--clr-green);
}
.services .cards-box .card.two h3 {
  color: var(--clr-dark-orange);
}
.services .cards-box .card.two .contant span {
  --clr-one: var(--clr-dark-orange);
  --clr-two: var(--clr-light-orange);
  --clr-three: var(--clr-orange);
}
.services .cards-box .card.three h3 {
  color: var(--clr-yellow);
}
.services .cards-box .card.three .contant span {
  --clr-one: var(--clr-yellow);
  --clr-two: var(--clr-dark-blue);
  --clr-three: var(--clr-blue);
}
/* /////////////////// section four : team /////////////////// */
.team {
  background-color: var(--clr-bright-blue);
  position: relative;
  overflow: hidden;
}
.team .container {
  position: relative;
}
.team .container::before {
  content: '';
  position: absolute;
  width: 101vw;
  height: 101vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 160px 0px;
  background-color: var(--clr-dark-blue);
  opacity: 0.8;
}
.team .container::after {
  content: "Our team";
  position: absolute;
  top: -10vh;
  color: var(--clr-bright-blue);
  padding: 5px 25px;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: capitalize;
  border: 2px solid var(--clr-bright-blue);
  z-index: 132;
}
.team .colunm {
  flex-direction: column;
}
.team .colunm .card {
  position: relative;
  background-color: var(--clr-white-green);
  width: 10vw;
  min-width: 100px;
  aspect-ratio: 1 / 1.6;
  margin: 15px;
  border-radius: 2px;
  flex-direction: column;
  padding: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.team .colunm .card:hover {
  transform: translate(-10px,-10px);
}
.team .colunm .card > img {
  margin-top: -10px;
  width: 100%;
  clip-path: circle(40%);
}
.team .colunm .card h3 {
  font-size: 14px;
  font-family: var(--fnt-curs);
  text-transform: capitalize;
  text-align: center;
}
.team .colunm .card p {
  font-size: 10px;
  font-family: var(--fnt-mono);
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
}
.team .colunm .card.amin {
  color: var(--clr-dark-green);
}
.team .colunm .card.amin:hover {
  box-shadow: 10px 10px 0px var(--clr-green);
}
.team .colunm .card.samir {
  color: var(--clr-blue);
}
.team .colunm .card.samir:hover {
  box-shadow: 10px 10px 0px var(--clr-blue);
}
.team .colunm .card.seif {
  color: var(--clr-bright-orange);
}
.team .colunm .card.seif:hover {
  box-shadow: 10px 10px 0px var(--clr-bright-orange);
}
.team .colunm .card.amir {
  color: var(--clr-yellow);
}
.team .colunm .card.amir:hover {
  box-shadow: 10px 10px 0px var(--clr-yellow);
}
.team .colunm .card + .info {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  clip-path: circle(0% at 0% 0%);
  border-collapse: collapse;
  transition: 0.5s;
}
.team .colunm .amin + .info {
  background-color: var(--clr-green);
}
.team .colunm .samir + .info {
  background-color: var(--clr-blue);
}
.team .colunm .seif + .info {
  background-color: var(--clr-bright-orange);
}
.team .colunm .amir + .info {
  background-color: var(--clr-dark-yellow);
}
.team .colunm .amin + .info .left-section div,
.team .colunm .amin + .info .right-section {
  background-color: var(--clr-dark-green);
  color: var(--clr-green);
}
.team .colunm .samir + .info .left-section div,
.team .colunm .samir + .info .right-section {
  background-color: var(--clr-dark-blue);
  color: var(--clr-blue);
}
.team .colunm .seif + .info .left-section div,
.team .colunm .seif + .info .right-section {
  background-color: var(--clr-dark-orange);
  color: var(--clr-bright-orange);
}
.team .colunm .amir + .info .left-section div,
.team .colunm .amir + .info .right-section {
  background-color: var(--clr-dark-blue);
  color: var(--clr-dark-yellow);
}
.team .colunm .active {
  pointer-events: none;
}
.team .colunm .card + .info .left-section {
  position: relative;
  background-color: inherit;
  overflow: hidden;
}
.team .colunm .card + .info .left-section span {
  background-color: inherit;
  position: absolute;
  top: -2px;
  left: -5px;
  width: 35px;
  height: 35px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  color: var(--clr-dark-blue);
  z-index: 123;
}
.team .colunm .card + .info .left-section > img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.team .colunm .card + .info .left-section div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 35px;
  border-top-left-radius: 15px;
  padding: 5px 15px;
}
.team .colunm .card + .info .left-section div a {
  text-decoration: none;
  color: inherit;
  margin-right: 5px;
}
.team .colunm .card + .info .left-section div a i {
  cursor: pointer;
}
.team .colunm .card + .info .right-section {
  text-align: center;
  flex-direction: column;
  padding: 20px 40px;
}
.team .colunm .card + .info .right-section > div {
  width: 40%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
}
.team .colunm .card + .info .right-section > div  img {
  width: 100%;
}
.team .colunm .card + .info .right-section h2 {
  font-family: var(--fnt-curs);
  text-transform: capitalize;
  font-size: 2em;
  margin-bottom: 10px;
}
.team .colunm .card + .info .right-section h3 {
  font-family: var(--fnt-mono);
  font-weight: 400;
  font-size: 1.2em;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.team .colunm .card + .info .right-section p {
  opacity: 0.6;
}
.team .colunm .amin + .info .right-section,
.team .colunm .samir + .info .right-section {
  color: var(--clr-white-blue);
}
.team .colunm .seif + .info .right-section,
.team .colunm .amir + .info .right-section {
  color: var(--clr-white-blue);
}
.team .colunm .active + .info {
  clip-path: circle(150% at 0% 0%);
  z-index: 132564;
}
/* /////////////////// section five : works /////////////////// */
.works {
  background-color: var(--clr-dark-blue);
  position: relative;
  overflow-x: hidden;
}
.works .header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 15px;
}
.works .header h2 {
  position: relative;
  color: var(--clr-yellow);
  padding: 5px 25px;
  font-size: 1.5em;
  text-transform: capitalize;
  border: 2px solid var(--clr-yellow);
}
.works .cards-box {
  flex-wrap: wrap;
  padding: 10px 20px;
}
.works .cards-box .card {
  position: relative;
  width: 250px;
  height: 200px;
  margin: 25px;
  padding-top: 15px;
  background-color: var(--clr-white-blue);
  border-radius: 5px;
  transition: 0.3s;
}
.works .cards-box .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px var(--clr-yellow);
}
.works .cards-box .card .img-box {
  background-color: var(--clr-orange);
  height: 60%;
  padding: 20px;
  transition: 0.5s;
  /* overflow: hidden; */
}
.works .cards-box .card:hover .img-box {
  background-color: var(--clr-dark-yellow);
}
.works .cards-box .card .img-box img {
  width: 60%;
  animation: up-down 3s linear infinite;
}
.works .cards-box .card .contant {
  background-color: var(--clr-white-blue);
  padding-top: 10px;
  text-align: center;
}
.works .cards-box .card .contant h3 {
  color: var(--clr-dark-blue);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
.works .cards-box .card .contant p {
  color: var(--clr-orange);
  font-family: var(--fnt-mono);
  font-size: 0.7em;
  font-weight: 700;
  transition: 0.5s;
  opacity: 0.6;
}
.works .cards-box .card:hover .contant p {
  color: var(--clr-dark-blue);
}
/* /////////////////// section six : contact us /////////////////// */
.contact-us {
  background-color: var(--clr-white-green);
  overflow: hidden;
}
.contact-us .form {
  width: 80%;
  height: 70%;
  border-radius: 10px;
  box-shadow: 5px 5px 12px var(--clr-gray);
  overflow: hidden;
}
.contact-us .form div {
  width: 50%;
  height: 100%;
}
.contact-us .form .img-box {
  background-color: var(--clr-green);
}
.contact-us .form .img-box img {
  width: 85%;
}
@media(max-width: 767px) {
  .contact-us .form .img-box {
    display: none;
  }
  .contact-us .form .container {
    width: 100%;
  }
}
.contact-us .form .container {
  padding: 15px;
  flex-direction: column;
  justify-content: center;
}
.contact-us .form .container .header {
  background-color: var(--clr-dark-blue);
  flex-direction: column;
  margin-bottom: 15px;
  padding: 10px 5px 15px;
  width: 140px;
  height: 140px;
  text-align: center;
  border-radius: 50%;
}
.contact-us .form .container .header h2 {
  font-family: var(--fnt-mono);
  color: var(--clr-dark-yellow);
  width: 100%;
  text-transform: uppercase;
  text-shadow: 3px 3px var(--clr-white-blue), 5px 5px var(--clr-gray), 6px 6px var(--clr-dark-blue);
}
.contact-us .form .container > p {
  color: var(--clr-dark-blue);
  margin-top: 15px;
  margin-bottom: 25px;
  text-transform: capitalize;
  font-family: var(--fnt-mono);
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
}
.contact-us .form .container div:last-child {
  /* background-color: var(--clr-bright-blue); */
  background-image: url(../imgs/contact_01.jpg);
  background-size: 50%;
  background-clip: cover;
  padding: 15px;
  width: 80%;
  height: 120px;
  border-radius: 10px;
}
.contact-us .form .container div:last-child input {
  width: 80%;
  height: 35px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  padding: 5px 15px;
}
.contact-us .form .container div:last-child button {
  width: 20%;
  height: 35px;
  background-color: var(--clr-bright-blue);
  border: none;
  border-radius: 0px 5px 5px 0px;
  font-weight: 600;
  color: var(--clr-white-blue);
}
/* /////////////////// section seven : footer /////////////////// */
.footer {
  background-color: var(--clr-dark-blue);
  flex-direction: column;
}
.footer div {
  flex-wrap: wrap;
  margin-bottom: 10px;
  text-transform: capitalize;
  margin: 5px 15px;
  padding: 2px 5px;
  text-align: center;
  border-radius: 50px;
}
.footer div span a {
  text-decoration: none;
  color: var(--clr-white-blue);
  font-size: 0.6em;
  font-weight: 700;
}
.footer div span a:hover {
  color: var(--clr-dark-yellow);
  text-decoration: underline;
}
.footer p {
  color: var(--clr-dark-yellow);
  text-transform: capitalize;
}
/* ///////////////////// Animations ////////////////////// */
@keyframes up-down {
  0%, 100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(3px);
  }
}

